/* pc */
/* --------------------------------------resume css------------------------------------ */

/* home */

#home{
	width: 100%;
}

.home_top{
	width: 100%;
	min-height: 10vh;
	height: auto;
	overflow: hidden;
}

#home .home_hp_height{
	height: 120px;
	float: left;
	margin: 0 100px 0 16px;
}

#home h2{
	height: 120px;
    line-height: 120px;
}

#home .home_mes{
	width: 100%;
	height: auto;
	margin-top: 5vh;
    padding-left: 18px;
}

#home .img-circle{
}

#home ul{
	overflow: hidden;
}

#home ul li{
	overflow: hidden;
	margin: 16px 0;
	/* width: 366px;
	float: left; */
}

#home ul li .home_mes_title{
	height: 50px;
    width: 50px;
    margin-right: 30px;
    float: left;
}

#home ul li .home_mes_con{
	font-size: 18px;
	line-height: 50px;
}

/* about */

#about{
	height: 800px;
	background: #f1f1f1;
}

#about .container,.row,.about-thumb{
	height: 100%;
}

.about_mes{
	width: 100%;
	height: 90%;
	position: relative;
}

.about_mes ul{
	width: 100%;
	height: auto;
}

.about_mes ul .about_TD{
    
}

.about_mes ul .about_GX{
    
}

.about_mes ul .about_GH{
	
}

.about_mes ul .about_future{
	
}

.about_mes ul li h3{
	line-height: 100%;
}

.about_mes ul .about_future strong{
	color: #000;
	display: inline-block;
	float: left;
	line-height: 50px;
    margin-left: 10px;
}

.about_mes ul .about_future img{
	width: 50px;
	float: left;
	overflow: hidden;
}

.about_mes ul li .about_circle{
	width: 16px;
	height: 16px;
	background: rgba(56,249,215,0.4);
	border-radius: 50%;
	float: left;
	margin-left: 9px;
	margin-top: 4px;
}

.about_mes ul li div{
	margin-left: 46px;
}

.about_mes ul li{
	margin: 50px 0;
	width: 100%;
	height: auto;
}

.about_mes ul span{
	font-size: 14px;
    color: #666;
    display: inline-block;
    margin-right: 20px;
}

.about_mes ul li p{
    color: #666;
    margin: 10px 0 0 46px;
    width: 90%;
}

/* skill */

#skill{
	background: #fff;
}

.skill_show{
	width: 100%;
}

.skill_show .skill-thumb{		/* ul */
	width: 100%;
}

.skill_show ul li{
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 89px 89px;
	width: 50%;
	overflow: hidden;
	margin: 16px 0;
	float: left;
}

.skill_show ul li img{
	float: left;
	width: 7%;
    margin: 0 5%;
}

.skill_show ul li .skill_li_width{
	width: 70%;
	float: left;
}


/* work */

#work{
	min-height: 1000px;
    height: auto;
}

#work h3{
	margin-bottom: 20px;
    border-left: 5px solid rgba(56,249,215,0.4);   
    padding-left: 10px;
    height: 30px;
    margin-left: 15px;
}

.mfp-close:hover{
	cursor: pointer !important;
}

.work_banner li{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.work_banner li div a img{
	max-height: 285px;
	height: auto;
}

.js-silder{
	position: relative;	
	min-width: 320px;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 15px;
}
.silder-scroll{
	width: 100%;
	overflow: hidden;
	height: auto;
}
.silder-main{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.silder-main-img img{
	width: 100%;
}
.js-silder-ctrl{
	width: 97.5%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}
.silder-ctrl-prev,
.silder-ctrl-next{
	position: absolute;
	top: 0;
	width: 8%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-family: "宋体";
	font-size: 52px;
	font-weight: 600;
}

.silder-ctrl-prev span ,.silder-ctrl-next span{
	color: rgba(241,241,241,0.8);
}

.silder-ctrl-prev{
	left: 3%;
	text-align: left;
}
.silder-ctrl-next{
	right: 3%;
	text-align: right;
}
.silder-ctrl-prev>span,
.silder-ctrl-next>span{
	position: absolute;
	top: 50%;
	margin-top: -30%;
}
.silder-ctrl-prev>span{
	left: 0;
}
.silder-ctrl-next>span{
	right: 0;
}
.silder-ctrl-con{
	display: inline-block;
	width: 6%;
    margin: 0px 6px;
	cursor: pointer;
	margin-top: 24%;
}
.silder-ctrl-con>span{
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: rgba(228,228,228,0.3);
}

.silder-ctrl-con>span:hover{
	background-color: rgba(228,228,228,0.8);
}

.silder-ctrl-con.active>span{
	background-color: rgba(56,249,215,0.4);
}

@media (max-width: 768px){
	.silder-ctrl-prev,
	.silder-ctrl-next{
		width: 10%;
		font-size: 26px;
		top: 7%;
	}
	.silder-ctrl-con{
		width: 10px;
		height: 10px;
		padding: 0;
		margin: 0 5px;
		margin-top: 23%;
	}
	.silder-ctrl-con>span{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		padding: 0;
	}
}

.work_website{
	overflow: hidden;
}

#work .work_website h3,.work_logo h3{
	margin-left: 0 !important;
}

.work_website li{
	width: 50%;
}

.work_website li .work-thumb{
	width: 100%;
	height: 410px;
	background: #fff;
	overflow: hidden;
}

.work_website li .work-thumb .work_thumb_top{
	width: 100%;
	height: 20px;
	background: url(../img/website_top.png) no-repeat left top;
	background-position: 10px;
}

.work_website li .work-thumb img{
	width: 100%;
}

.work_logo li{
	margin-bottom: 20px;
}

.work_logo li img {
  border-radius: 5px;
}